<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pignap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Pignap</name>
    <description>
        Eine Narkoseanlage zur Ferkelkastration
    </description>
    <author email="info@elias-kuiter.de" href="http://elias-kuiter.de">
        Elias Kuiter
    </author>
    <content src="index.html" />
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <preference name="CRIPageLoadPromptInterval" value="0" />
    <preference name="CRIShowConnectionErrorDialog" value="0" />
</widget>
